name: Update Sources JSON

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-json:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Fetch and Update sources.json
        env:
          API_URL: ${{ secrets.API_URL }}
        run: |
          curl "$API_URL" -o sources.json
      
      - name: Commit and Push if Changed
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add sources.json
          git diff --staged --quiet || git commit -m "Update sources.json - $(date +'%Y-%m-%d %H:%M:%S WIB')"
          git push
